.media_container {
  margin: 0 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 95px;
}

.media_img,
.media_video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
  cursor: pointer;
}

.media_img:hover,
.media_img:focus {
  transform: scale(1.05);
}

.media_card_container:has(.media_img:focus ),
.media_card_container:has(.media_video:focus ) {
  border: #901c1c solid 2px;
}

.media_card_container:has(.media_img:focus ),
.media_card_container:has(.media_video:focus ) {
  border: #901c1c solid 2px;
}

.media_card_container {
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
  width: 350px;
  height: 300px;
  position: relative;
  transition: all 0.3s ease;
}

.media_description_container {
  display: flex;
  justify-content: space-between;
  max-width: 350px;
}

.media_description_container .media_title {
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  color: #911c1c;
  max-width: 250px;
}

.media_description_container .media_like_container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.media_description_container .media_like_container .media_likes {
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  text-align: right;
  color: #911c1c;
}